* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html,body {
    width: 100%;
    height: 100%;
    background: white;
}

header {
    background: #3e007c;
    border-bottom: 3px solid black;
    border-radius: 0 0 20px 20px;
}
    body header img {
        margin-top: 15px;
        margin-bottom: 0px;
        width: 200px;
        animation-name: logo;
        animation-duration: 2s;
    }

    @keyframes logo {
        0% {
            width: 0px;
        }

        100% {
            width: 200px;
        }
    }

    body header h1 {
        font-weight: 600;
        font-size: 30px;
        color: white;
    }


    body header p {
        font-weight: 400;
        margin-bottom: 15px;
        font-size: 15px;
        color: white;
    }

.links {
    margin-top: 15px;
    text-align: center;
}

    body .links button {
        font-size: 15px;
        font-weight: 600;
        color: white;
        border: 3px solid black;
        border-radius: 30px;
        background-color: #3e007c;
        height: 65px;
        width: 80%;
        max-width: 700px;
        margin: 15px 0;
        animation-name: button;
        animation-duration: 2s;
    }


        body .links button:hover {
            transition: 0.1s;
            width: 82%;
            background-color: #2e0750;
            cursor: pointer;
        }

            body .links button:focus {
                outline: none;
            }

@keyframes button {
    0% {
        background-color: none;
        width: 0;
        font-size: 0px;
    }
    100% {
        width: 80%;
        font-size: 15px;
}
}

.icones {
    margin-top: 50px;
    margin-bottom: -10px;
    text-align: center;
}

    .icones img {
        margin: 0 10px;
        width: 70px;
        display: inline;
    }

        .icones .instagram img {
            width: 59px;
            position: relative;
            top: -6px;
        }

        .icones img:hover {
            transition: 0.2s;
        }

footer {
    background-color: #3e007c;
    border-top: 3px solid black;
    text-align: center;
    padding: 10px 0 30px 0;
    margin-top: 15px;
    border-radius: 20px 20px 0 0;
}

    footer img {
        width: 100px;
    }

        footer p {
            font-size: 15px;
            color: white;
        }